@use 'nest';

//VARIEBLE
$color-gainsboro: gainsboro;
$dolar-color: green;
$sea-color: blue;
body {
  background: $color-gainsboro;
}

h1 {
  color: $dolar-color;
}

//NESTING
.box-1 {
    h2 {
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }
    p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration:underline;
        background-color: $dolar-color;
    }
  }

//MIXINS
@mixin mix_box($background:yellow) 
{
    background-color: $background;
    border: 4px solid black;
    box-shadow: 2px 1px 2px;
    color: $sea-color;
    margin: 20px;

}

.box-2{
    @include mix_box($background:orange)
}
.box-1{
    @include mix_box($background:grey);
}

//OPERATORS - TO CHANGE SIZE
.box-1{
    width: 400px + 100px;
}